.searchBarandListoffoodContainer {
    width: 100%;
    position: relative;
}

.searchBarBox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
}

.listoffoodsBox {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 8000;
}

.inputBoxandLogoWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.inputBoxandLogoBox {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    border-radius: 8px;
    transform: translateX(3px);
    background-color: #efefef;
    display: flex;
}

.LogBox {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputBox {
    width: 85%;
    height: 100%;
}

.InputBox>input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.InputBox>input::placeholder {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
.InputBox>input:focus{
    outline: none;
}